In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [5]:
obj3['California']

True

In [6]:
import math
math.isnan(obj2['California'])

True

In [7]:
obj2['California'] == None

False

In [8]:
x = obj2['California']
obj2['California'] != x

True

In [9]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [17]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [25]:
import pandas as pd
import numpy as np
import re

df=pd.read_excel('assets/Energy Indicators.xls',header=17,usecols="C:F",skipfooter=38,names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])

df = df.rename(mapper = lambda x: x.upper(), axis = 'column')
df

ValueError: No axis named column for object type DataFrame